@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            font-family: 'IranianSans', sans-serif;
            background: linear-gradient(to top, #0089b1, #000000);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: #fff;
            padding: 5px 40px 5px 40px;
            border-radius: 10px;
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            animation: fadeIn 1.5s ease-out;
        }

            .login-container h2 {
                text-align: center;
                margin-bottom: 30px;
                font-weight: 700;
            }

            .login-container input {
                border-radius: 5px;
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 20px;
                font-size: 16px;
            }

            .login-container button {
                background-color: #0072ff;
                border: none;
                padding: 10px 20px;
                color: white;
                font-size: 16px;
                width: 100%;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                .login-container button:hover {
                    background-color: #005bb5;
                }

            .login-container .form-check-label {
                font-size: 14px;
            }

            .login-container .form-check-input {
                margin-top: 6px;
            }

        .footer-text {
            text-align: center;
            margin-top: 50px;
            color: #adadad;
            font-size: 14px;
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-30px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        @@font-face {
            font-family: 'IranianSans';
            src: url('/fonts/IranianSans.ttf') format('truetype'),
                 url('/fonts/iransans.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>

    <div class="login-container">
        @* <h2>ورود</h2> *@
        <div class="row text-center mb-4 d-flex justify-content-center">
            <img src="~/img/kpc-logo-md.png" style="max-width: 260px; max-height: 120px;" />
        </div>
        

        <form method="post" style="direction: rtl;">
            <div class="mb-3">
                <label for="username" class="form-label">نام کاربری</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">کلمه عبور</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="col-12 mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">مرا به خاطر بسپار؟</label>
            </div>

            <button type="submit" class="btn btn-primary mt-4">ورود</button>
        </form>

        <div class="footer-text">
            <p>واحد فناوری اطلاعات پتروشیمی کاویان &copy;</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
